In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Read the data file

In [3]:
cars=pd.read_csv('Cars.csv')

In [4]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

## EDA

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [6]:
cars.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [7]:
cars.isnull().sum()

HP     0
MPG    0
VOL    0
SP     0
WT     0
dtype: int64

In [16]:
cars.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
76    False
77    False
78    False
79    False
80    False
Length: 81, dtype: bool

## a.P(MPG>38)

In [9]:
p38=np.round(1 - stats.norm.cdf(38, loc= cars.MPG.mean(), scale= cars.MPG.std()),3)

In [10]:
print('P(MPG>38)=',p38)

P(MPG>38)= 0.348

## b.P(MPG<40)

In [11]:
p40=np.round(stats.norm.cdf(40, loc= cars.MPG.mean(), scale= cars.MPG.std()),3)

In [12]:
print('P(MPG<40)',p40)

P(MPG<40) 0.729

## c.P (20<MPG<50)

In [13]:
## P(MPG>20)

p20=np.round(1-stats.norm.cdf(20, loc = cars.MPG.mean(), scale = cars.MPG.std()),3)

print("P(MPG>20)",p20)

P(MPG>20) 0.943

In [14]:
## P(MPG<50)

p50=np.round(stats.norm.cdf(50, loc= cars.MPG.mean(), scale= cars.MPG.std()),3)
print('P(MPG<50)',p50)

P(MPG<50) 0.956

In [15]:
## P(20>MPG<50)
p25=p50-p20
print('P(20>MPG<50)',p25)

P(20>MPG<50) 0.013000000000000012