## Question 1
####      A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
data = pd.read_csv('Cutlets.csv')
data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [3]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [4]:
# Null Hypothesis = A = B (There is significant difference between diameter of Cutlets)
# Alternate Hypothesis = A =! B (There is no significant difference between diameters of cutlets )

In [5]:
A = data['Unit A']
B = data['Unit B']
s,p = stats.ttest_ind(A, B)

In [6]:
s, p

(0.7228688704678063, 0.4722394724599501)

In [7]:
if p<0.05:
  print("Reject Null Hypothesis i.e. There is significant difference between diameter of Cutlets of UNit A and B")
else:
  print("Fail to reject the null hypothesis i.e. There is no differene between diameter of Cutlets of UNit A and B")

Fail to reject the null hypothesis i.e. There is no differene between diameter of Cutlets of UNit A and B

## Question 2
####    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
#### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [8]:
data1 = pd.read_csv('LabTAT.csv')

In [9]:
data1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [10]:
# Here we need to perform the Anova test as there are more than 2 sample columns

# Null Hypothesis = Laboratory 1 = Laboratory 2 = Laboratory 3 = Laboratory 4
# Alternate Hypothesis = At lest one of the Laboratory is having different TAT score

In [11]:
f, p = stats.f_oneway(data1['Laboratory 1'], data1['Laboratory 2'], data1['Laboratory 3'], data1['Laboratory 4'])

In [12]:
if p<0.05:
  print("Reject Null Hypothesis i.e. There is no difference in average TAT among different laboratories")
else:
  print("Fail to reject the null hypothesis i.e. There is differene in average TAT among different laboratories")

Reject Null Hypothesis i.e. There is no difference in average TAT among different laboratories

## Question 3

In [13]:
data2 = pd.read_csv('BuyerRatio.csv')

In [14]:
data2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
# It is the example of chi square test where we have to determine whether there is any relation between columns named "Males" and "Females".

# Null Hypothesis  = Columns are Independent
# Alternate Hypothesis = Columns are Dependent on each other.

In [16]:
from scipy.stats import chi2_contingency
table = [[50,142,131,70],
        [435,1523,1356,750]]
stat, p, df, E = stats.chi2_contingency(table)
p

0.6603094907091882

In [17]:
if p < 0.05:
    print(f"P-value = {p}.\nHere P-value < Test Statistic value,\nSo Reject Null Hypothesis i.e., Columns are independent.")
else:
    print(f"P-value = {p}.\nHere P-value > Test Statistic value,\nSo Fail to reject the null hypothesis i.e., Columns are dependent on each other.")

P-value = 0.6603094907091882.
Here P-value > Test Statistic value,
So Fail to reject the null hypothesis i.e., Columns are dependent on each other.

## Question 4
####      TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [18]:
data3 = pd.read_csv('Costomer+OrderForm.csv')

In [19]:
data3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [20]:
data3.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [22]:
print(data3['Phillippines'].value_counts(), '\n', data3['Indonesia'].value_counts(), '\n', data3['Malta'].value_counts(), '\n', data3['India'].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64
 Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64
 Malta
Error Free    269
Defective      31
Name: count, dtype: int64
 India
Error Free    280
Defective      20
Name: count, dtype: int64

In [23]:
# Null hypothesis = Columns are independent means the defective % is varying due to centre
# Alternate Hypothesis = Columns are dependent on each other means the defective % is not varying by centre

In [24]:
Observed_freq = [[271, 267, 269, 280],
                 [29, 33, 31, 20]]
print(Observed_freq)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [25]:
stat, p, df, E = stats.chi2_contingency(Observed_freq)

In [26]:
if p < 0.05:
    print(f"P-value = {p}.\nHere P-value < Test Statistic value,\nSo Reject Null Hypothesis i.e., Columns are independent means the defective % is varying due to centre .")
else:
    print(f"P-value = {p}.\nHere P-value > Test Statistic value,\nSo Fail to reject the null hypothesis i.e., Columns are dependent on each other means the defective % is not varying by centre.")

P-value = 0.2771020991233135.
Here P-value > Test Statistic value,
So Fail to reject the null hypothesis i.e., Columns are dependent on each other means the defective % is not varying by centre.